@media screen and (max-width: 1024px) {
    table {
    font-size: 16px;
    }
    .example img {
    width: 800px;
    }
    .text-1 {
    font-size: 20px
    }
    .display-text {
    font-size: 32px;
    font-weight: 400;
    }
    .text-small {
    font-size: 15px;
    }
}
@media screen and (max-width: 800px) {
    table {
    font-size: 12px;
    }
    .example img {
    width: 640px;
    }
    .text-1 {
    font-size: 16px
    }
    .display-text {
    font-size: 28px;
    font-weight: 400;
    }
    .text-small {
    font-size: 12px;
    }
}
@media screen and (max-width: 640px) {
    table {
    font-size: 9px;
    }
    .example img {
    width: 480px;
    }    
    .text-1 {
    font-size: 14px
    }
    .display-text {
    font-size: 24px;
    font-weight: 400;
    }
    .text-small {
    font-size: 10px;
    }
}
@media screen and (max-width: 360px) {
    table {
    font-size: 6px;
    }
    .example img {
    width: 320px;
    }    
    .text-1 {
    font-size: 12px
    }
    .display-text {
    font-size: 20px;
    font-weight: 300;
    }
    .text-small {
    font-size: 8px;
    }
}